{{#partial "title" }}
    {{name}}
{{/partial}}
{{#partial "styles"}}
    <link rel="stylesheet" href="/css/success.css">
{{/partial}}

{{#partial "content"}}
    <div class="container">
        <div class="card mb-3" style="width: 18rem;">

            <div class="card-body">
                <h1 class="card-title text-center">SUCCESS!</h1>
                <p class="text-center">New hero <strong>{{name}} was added</strong></p>
            </div>
            <h5><strong>With attribute:</strong></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Name: </strong>{{name}}</li>
                <li class="list-group-item"><strong>Age: </strong>{{age}}</li>
                <li class="list-group-item"><strong>Special Powers: </strong>{{specialPower}}</li>
                <li class="list-group-item"><strong>Weakness: </strong>{{weakness}} Normal</li>
                <li class="list-group-item"><strong>Type: </strong>{{type}}</li>
                <li class="list-group-item"><strong>Posted: </strong>{{lastSeen}}</li>
            </ul>
            <h4 class="text-center">Squad: {{squadName}}</h4>
        </div>
        <div class="text-center mb-3">
            <a href="/heroes/list"><button class="btn btn-primary">View All</button></a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}